---
---
@charset "utf-8";
@import "variables";        // Your Sass variables should go there
@import "mixins";           // Your additional mixins should go there

@import "reboot";           // Opinionated reboot/normalize/reset css
@import "base";             // Base classes
@import "text";             // The type related css
@import "buttons";          // Links and buttons
@import "page";             // Styles specific to the pages

@import "syntax";           // Styles specific to the pages
@import "theme";            // Styles specific to the pages

a:not( [href*='{{ site.url }}'] ):not( [href^='#'] ):not( [href^='/'] ):after {
  content: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==");
  margin: 0 3px 0 5px;
}
